body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}


/*projet dependent*/

.background-orange {
    background-color: rgb(255, 172, 19);
}

.background-grey {
    background-color: #b4b4b4
}

.background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    height: auto;
}

.background-transparent {
    background-color: rgba(255, 255, 255, 0.8);
}

.retangle {
    color: #ffffff;
    background-color: #6b979d;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: auto;
    font-size: large;
}

.rounded-retangle {
    color: #ffffff;
    background-color: #6b979d;
    padding: 3%;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    font-size: large;
}

.like-retangle {
    color: #ffffff;
    background-color: rgb(255, 172, 19);
    padding: 2% 5%;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}

.author-name {
    color: #3d3d3d;
    font-size: 2rem;
}

.objectif {
    color: #7c7a7b;
    font-size: 2rem;
    display: inline-block;
}


/*default thumbnail style*/

.thumbnail {
    border: none;
    position: relative;
    overflow: hidden;
    padding: 0px;
}


/* thumbnail font-end*/

.thumbnail .tags {
    position: absolute;
    left: 5%;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption {
    background-color: #e6e6e6;
    padding: 5%
}

.thumbnail .font-end-title {
    text-align: center;
    color: #555555;
    display: block;
    font-size: 2rem;
}

.thumbnail .font-end-text {
    margin: 5% 0
}

.thumbnail .objectif {
    display: block;
    text-align: center;
}


/*thumbnail back-end*/

.thumbnail .like-retangle {
    margin: 10% 5%;
}

.thumbnail .back-end-title {
    margin: 5%;
}

.thumbnail .back-end-text {
    margin: 5%;
}

.thumbnail .back-end-input-group {
    margin: 15% 5%;
}


/*thumbnail animation*/

.thumbnail figure {
    cursor: pointer;
}

.thumbnail figure .back-end {
    display: block;
    position: absolute;
    z-index: 5;
    padding: 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.thumbnail figure .back-end {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.thumbnail figure .front-end {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.thumbnail figure:hover .front-end, figure.hover .front-end {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.thumbnail figure:hover .back-end, figure.hover .back-end {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0)
}

@media (min-width: 768px) {
    .thumbnail figure .back-end {
        padding: 15px;
    }
}

@media (min-width: 1200px) {
    .thumbnail {
        margin: 30px;
    }
}

@media (min-width: 1200px), (min-width:480px) and (max-width: 768px) {
    .thumbnail .caption {
        padding: 5%;
    }
}
