/*navigation*/

.navbar-default {
    background-color: #ffffff;
}

.navbar-toggle .icon-bar {
    background-color: rgb(255, 172, 19);
}

.nav-pills {
    padding: 4% 12% 4% 0%;
}

.nav-text {
    font-size: 18pt;
    font-family: OratorStd;
    color: rgb(255, 172, 19);
    z-index: auto;
}

.imgHooldersLogo {
    margin: 2% auto;
    height: auto;
    width: 180px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .nav-pills {
        padding: 4% 0% 4% 0%;
    }
    .imgHooldersLogo {
        height: auto;
        width: 160px;
        margin: 5% auto auto 10%
    }
}

@media (min-width: 991px) {
    .imgHooldersLogo {
        height: auto;
        width: 220px;
        margin: 5% auto auto 30%
    }
    .text-align-left-md {
        text-align: left;
    }
}

@media (min-width: 768px) {
    /*vertical line in navigation*/
    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .vertical-line {
        border-left: 1px solid #C0C0C0;
    }
}


/*Panorama*/

img.logo {
    max-width: 100%;
    width: 80%;
}

.panorama {
    background-image: url(../media/image/homepage_epargneb3.jpg);
    margin-top: -20px;
}


/*imageFond*/

.company-title {
    display: inline-block;
}

.board {
    margin: 5% 3%;
    position: relative;
    padding: 5%
}

.board .objectif {
    margin: 2% 0;
}

.board .input-group {
    margin: 2% 0;
}

.board .tags {
    position: absolute;
    right: 0px;
}

.board .description-vedio {
    margin: 30% 0 0;
}

.board .text-content {
    margin: 10% 0;
}

.board .vedio {
    margin: 10% 0;
}

.board .avatar img {
    width: 10%;
    min-width: 50px;
    border-radius: 50%
}

.board .avatar span {
    margin-left: 5%;
}

.board label {
    margin-top: 10%;
}

.imageFond {
    background-image: url(../media/image/image_fleur.png);
}


/*thumbnail list*/

@media (min-width: 1200px), (min-width:480px) and (max-width: 768px) {
    .thumbnailList .thumbnail .caption .font-end-title {
        display: inline-block;
        text-align: left;
    }
    .thumbnailList .thumbnail .caption .objectif {
        display: inline-block;
        float: right;
        margin-top: 15px;
    }
}


/*carousel*/

.carousel-responsive {
    overflow: hidden;
    padding: 0
}

.carousel-responsive .thumbnail {
    margin: 0 5vw;
    background-color: rgba(0, 0, 0, 0);
}

.carousel-responsive .thumbnail .back-end {
    background-color: #5d797d;
}

.carousel-responsive .tags {
    left: 0px;
}

.slick-list {
    padding: 3%;
}

.slick-prev {
    left: 0px;
    z-index: 5;
}

.slick-next {
    right: 0px;
    z-index: 5;
}

.carousel-responsive .thumbnail .font-end-title, .carousel-responsive .thumbnail .objectif {
    margin: 20% 0;
    text-align: left;
}

@media (min-width: 480px) {
    .carousel-responsive .thumbnail .font-end-title, .carousel-responsive .thumbnail .objectif {
        margin: 3% 0;
        text-align: left;
    }
    .slick-prev {
        left: 2%;
        transform: scale(2);
        z-index: 5;
    }
    .slick-next {
        right: 2%;
        transform: scale(2);
        z-index: 5;
    }
}


/*two silde*/

@media (min-width: 768px) {
    .carousel-responsive {
        padding: 2% 0;
    }
}


/*three silde*/

@media (min-width: 1200px) {
    .slick-prev {
        left: 8%;
        transform: scale(3);
        z-index: 5;
    }
    .slick-next {
        right: 8%;
        transform: scale(3);
        z-index: 5;
    }
    .carousel-responsive {
        padding: 10px 100px
    }
    .carousel-responsive .thumbnail {
        margin: 0 35px;
        background-color: rgba(0, 0, 0, 0);
    }
    .carousel-responsive .thumbnail .font-end-title, .carousel-responsive .thumbnail .objectif {
        margin: 5% 0;
        text-align: left;
    }
}
